.card{
    width: 13rem;
    border-radius: 18px;
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    border-collapse: collapse;
    border: 2px solid white;
    color: black;
}
.table{
    border-collapse: collapse;
    border: 2px solid white;
}

.nav-link{
    color: black !important;

}
.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link
{
    margin-top: 10px;
    width: 50%;
}

.active{
    background: linear-gradient(45deg, #EECFBA, #C5DDE8) !important;
    width: 50%;
}

